.scene
{
    color: rgb(107, 17, 167);
}
.speech
{
    font-family: 'Times New Roman', Times, serif;
    font-size:medium;
    color: rgb(26, 19, 19);
}
.direction
{
    background-color: rgb(240, 247, 155);
    font-family:cursive;
    font-size: smaller;
    color: black;
}

h6.name {
    margin-block: auto;
}

.CLE {
    color:maroon;
}
.ELI {
    color:teal
}
.HAR {
    color:tomato;
}


